
:root {
    --square-border: 3px solid black;
    --square-size: 70px;
}

.winner-display {
    visibility: hidden;
    margin-top: 150px;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}

.board-container {
    margin: auto;
}

.row {
    margin: 0;
    padding: 0;
    background-color: blue;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.square:hover {
    cursor: pointer;
}

.top-left-square {
    border-bottom: var(--square-border);
}

.top-middle-square {
    border-left: var(--square-border);
    border-bottom: var(--square-border);
    border-right: var(--square-border);
}

.top-right-square {
    border-bottom: var(--square-border);
}

.middle-left-square {

}

.middle-middle-square {
    border-left: var(--square-border);
    border-right: var(--square-border);
}

.middle-right-square {

}

.bottom-left-square {
    border-top: var(--square-border);
}

.bottom-middle-square {
    border-left: var(--square-border);
    border-top: var(--square-border);
    border-right: var(--square-border);
}

.bottom-right-square {
    border-top: var(--square-border);
}